<div class="container mx-auto h-screen flex justify-center items-center">
  <div class="card w-96 bg-primary text-primary-content">
    <div class="card-body">
      <h2 class="card-title">Add New Expense</h2>
      <form [formGroup]="expenseForm" (ngSubmit)="onSubmit()">
        <label class="input input-bordered flex items-center mb-2">
          <input
            type="text"
            class="grow text-white"
            placeholder="Expense Title"
            formControlName="expenseName"
          />
        </label>
        <label class="input input-bordered flex items-center mb-2">
          <input
            type="number"
            class="grow text-white"
            placeholder="Expense Amount"
            formControlName="expenseAmount"
          />
        </label>
        <label class="input input-bordered flex items-center mb-2">
          <input
            type="date"
            class="grow text-white"
            placeholder="Expense Date"
            formControlName="expenseDate"
          />
        </label>
        <label class="input input-bordered flex items-center mb-2">
          <select
            class="grow text-white"
            formControlName="expenseCategory"
          >
            <option value="" disabled selected>Select Category</option>
          </select>
        </label>
        <button
          type="submit"
          [disabled]="!checkValidity()"
          class="btn btn-sm btn-info"
        >
          Submit
        </button>
      </form>
    </div>
  </div>
</div>
