<div class="contain-layout h-screen">
  <div class="navbar bg-base-100">
    <a class="btn btn-ghost text-xl">FM</a>
    <a
      class="btn btn-sm btn-primary"
      routerLinkActive="activebutton"
      routerLink="/dashboard"
      >Dashboard</a
    >
    |
    <a
      class="btn btn-sm btn-primary"
      routerLinkActive="activebutton"
      routerLink="/expense-category"
      >Expense-category</a
    >
    |
    <a
      class="btn btn-sm btn-primary"
      routerLinkActive="activebutton"
      routerLink="/expense"
      >Expense</a
    >
    |
    <a
      class="btn btn-sm btn-primary"
      routerLinkActive="activebutton"
      routerLink="/expense-table"
      >Expense Table</a
    >
    |
    <a
      class="btn btn-sm btn-primary"
      routerLinkActive="activebutton"
      routerLink="/receipt"
      >Receipt</a
    >
    |
    <a
      class="btn btn-sm btn-primary"
      routerLinkActive="activebutton"
      routerLink="/"
      >Home</a
    >
  </div>

  <div class="container mx-auto flex justify-center items-center min-h-svh">
    <router-outlet></router-outlet>
  </div>

  <footer class="footer footer-center p-4 bg-base-300 text-base-content">
    <aside>
      <p>Copyright © 2024 - All right reserved by MushCorps Ltd</p>
    </aside>
  </footer>
</div>
