<h3 class="text-fuchsia-600">LAYOUT</h3>
<nav>
  <a
    class="btn btn-sm btn-primary"
    routerLinkActive="activebutton"
    routerLink="/dashboard"
    >dashboard</a
  >
  |
  <a
    class="btn btn-sm btn-primary"
    routerLinkActive="activebutton"
    routerLink="/expense-category"
    >expense-category</a
  >
  |
  <a
    class="btn btn-sm btn-primary"
    routerLinkActive="activebutton"
    routerLink="/expense"
    >expense</a
  >
</nav>

<router-outlet></router-outlet>

<footer class="footer-title">copyright MusarratChowdhury 2024</footer>
