<div class="container mx-auto h-screen flex justify-center items-center">
  <div class="card w-96 bg-primary text-primary-content">
    <div class="card-body">
      <h2 class="card-title">Registration</h2>
      <form [formGroup]="_regForm" (ngSubmit)="proceedRegister()"></form>
      <label class="input input-bordered flex items-center gap-2">
        <input type="text" class="grow text-white" placeholder="Email" />
      </label>
      <label class="input input-bordered flex items-center gap-2">
        <input
          type="password"
          class="grow text-white"
          value="password"
          placeholder="Password"
        />
      </label>
      <button type="submit" class="btn btn-sm btn-info">Submit</button>
    </div>
  </div>
</div>
