<div class="flex-col md:flex gap-4">
  <div class="w-full bg-white p-4 card">
    <ejs-accumulationchart
      id="chart-container"
      [legendSettings]="legendSettings"
      [tooltip]="tooltip"
      (tooltipRender)="tooltipRender($event)"
      [title]="title"
    >
      <e-accumulation-series-collection>
        <e-accumulation-series
          radius="70%"
          [dataSource]="piedata"
          [dataLabel]="datalabel"
          xName="x"
          yName="y"
        ></e-accumulation-series>
      </e-accumulation-series-collection>
    </ejs-accumulationchart>
  </div>
  <div class="w-full bg-slate-50 p-4 card">
    <ejs-chart
      id="bar-chart-container"
      [primaryXAxis]="primaryXAxis"
      [primaryYAxis]="primaryYAxis"
      [title]="barChartTitle"
    >
      <e-series-collection>
        <e-series
          [dataSource]="barChartData"
          type="Column"
          xName="x"
          yName="y"
          name="India"
        ></e-series>
      </e-series-collection>
    </ejs-chart>
  </div>
</div>
